<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aplicada1_2016_2.Properties.Settings.ConStr" connectionString="Data Source=.\SqlExpress;Initial Catalog=Aplicada1Db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>